



# Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

In [13]:
y_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(my_list, key=lambda x: x[-1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
 # Write a Python program that combines two dictionaries by adding values for common keys
from collections import Counter
 
# initializing two dictionaries
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
 
 
# adding the values with common key
         
Cdict = Counter(d1) + Counter(d2)
print(Cdict)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

# With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary

In [19]:
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Write a Python program to create a set.

In [30]:
num_set = {0, 1, 2, 3, 4, 5}
# Iterate over the set
for value,char in enumerate(num_set):
   print(char, end=' ')

animal = {"Lion","Cat"}
print(animal)
animal.add("Dog")
print("Add single element : ",animal)
animal.update(["Ponda", "Tiger"])
print("Add multiple items : ",animal)

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
thisset = {"apple", "banana", "cherry"}
print(thisset)
del thisset

0 1 2 3 4 5 {'Cat', 'Lion'}
Add single element :  {'Cat', 'Dog', 'Lion'}
Add multiple items :  {'Dog', 'Ponda', 'Tiger', 'Cat', 'Lion'}
{'cherry', 'apple'}
{'cherry', 'banana', 'apple'}

In [28]:

# Write a Python program that multiplies all the items in a list.
list = [2,3,6]
 
res = 1
 
for i in list:
  res = res * i
   
print(res)

36

In [21]:
# Write a program to sort a tuple by its float element.
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [31]:
thisset = {"apple", "banana", "cherry"}


thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [33]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

NameError: name 'thisset' is not defined

In [34]:
del thisset

NameError: name 'thisset' is not defined